@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;

    --card: 0 0% 84%;
    --card-foreground: 222.2 84% 4.9%;

    --primary: 221, 83%, 53%;

    --secondary: 240, 7%, 97%;

    --tertiary: 14, 51%, 80%;

    --around: 220, 13%, 91%, 1;

    --textcolor: 210, 10%, 23%;

    --input: 214.3 31.8% 91.4%;

    --border-menu: 247 248 249;

  }}

body {
    @apply bg-background text-foreground
}
